*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    font-family: 'Cormorant Garamond',serif;
}

.replahotel_navbar{

    background-color: rgba(255, 255, 255, 0.6)!important;
   
}

.replahotel_navbar div, .replahotel_navbar ul {

    background-color: transparent !important;
}

.replahotel_contenedor_sec_1{
    padding: 5%;
}

.replahotel_contenedor_sec_1 h2{
   font-size: 200%;

}

.replahotel_contenedor_sec_1 p{
    font-size:  150%;
}



.replahotel_cont_sec_link{
    padding: 5%;
}
.replahotel_cont_sec_link a{
    width: 200px;
}

.replahotel_contenedor_sec_1 hr{
    border-top: 1px solid rgba(204, 24, 24, 1);
}

.btn-whats{

    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;


}


.btn-ubi{

    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 100px;
    background: #040404;
    color: rgb(215, 19, 19);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;


}

.btn-insta{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    left: 30px;
    background: #fff;
    color: rgb(243, 71, 137);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;

}

.btn-face{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    left: 100px;
    background: #ffffff;
    color: rgb(56, 7, 250);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.Seccionpie{
    margin:15%;
}

.fondo{
    background-color: rgba(195, 170, 170, 0.3);
}

.replahotel_cont_footer{
    background-color: rgba(1,1,1,0.7);
    padding: 10%;
    color: #fff;
    margin-top: 100px;

}

.replahotel_cont_footer a{

    color: #fff;
    text-decoration: none;
    display: block;

}

.cont-img-footer{
    padding: 5% ;

}

.creditos{

    width: 300px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.btn_what_sec{
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    
}
.btn_inst_sec{
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    left: 30px;
    background: #fff;
    color: rgb(243, 71, 137);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;


}

.btn_face_sec{

    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    left: 100px;
    background: #ffffff;
    color: rgb(51, 0, 255);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;


}
